.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 60%;

    .profile-header-style {
        background-color: #1f3668;
        padding: 15px;
        border-radius: 15px;
        color: white;
    }
    
    .profile-details-style {
        margin: 15px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
