.home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    .image-style{
        margin:  20px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        height: 60%;
        border: 5px solid #1f3668d2;
        border-radius: 25px;
        box-shadow: 1px 1px 4px gray;
    }
    
    .welcome-style {
        width: 80%;
        margin:  20px auto;
        font-size: 26px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        background-color: #132c63d2;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }
}
